 <link rel="icon" href="{{ "favicon/favicon.svg" | relURL }}" type="image/svg+xml">
 <link rel="shortcut icon" href="{{ "favicon/favicon.svg" | relURL }}" type="image/x-icon">
<link rel="stylesheet" href="{{ "dsfr/dsfr.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/core/core.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/link/link.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/button/button.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/navigation/navigation.min.css" | relURL }}">

