
<!--HEADER -->
<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
  <div class="fr-header__logo">
						<p class="fr-logo">
                               MINISTERE<br>
							   DE L'&Eacute;DUCATION<br>
							   NATIONALE,<br>
							   DE LA JEUNESSE<br>
							   ET DES SPORTS
                              
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-851" title="Rechercher">
                                Rechercher
                            </button>
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-855" id="button-855" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile-1">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - Le Pont - Pôle des Outils Numériques Transverses">
                          <p class="fr-header__service-title">LE PONT</p>
                        </a>
                        <p class="fr-header__service-tagline">Pôle des Outils Numériques Transverses</p>
                    </div>
                </div>
          
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-855" aria-labelledby="fr-btn-menu-mobile-1">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-855">Fermer</button>
            <div class="fr-header__menu-links"></div>
           <!-- MENU HAUT : composant  navigation liens directs -->
						
<!-- Liens directs uniquement -->

  <!-- Liens directs uniquement -->

<nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
    <ul class="fr-nav__list">
          <li class="fr-nav__item">
         	 <a class="fr-nav__link" href="/" target="_self" aria-current="page">Accueil</a>
          </li>
          <li class="fr-nav__item">
           	 <a class="fr-nav__link" href="/services/" target="_self">Services</a>
          </li>
          <li class="fr-nav__item">
           	<a class="fr-nav__link" href="plateformes.html" target="_self">Plateformes</a>
          </li>
          <li class="fr-nav__item">
           	<a class="fr-nav__link" href="/actualites/" target="_self">Actualités</a>
          </li>
          <li class="fr-nav__item">
              <a class="fr-nav__link" href="equipe.html" target="_self">Nous contacter</a>
          </li>
      </ul>
  </nav>
        </div>
    </div>
</header>
